// Modular Reuseable Button Styles


/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base button styles.
 *
 * 1. Allow us to better style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Stop buttons wrapping and looking broken.
 * 4. Make buttons inherit font styles.
 * 5. Force all elements using beautons to appear clickable.
 * 6. Normalise box model styles.
 * 7. If the button’s text is 1em, and the button is (3 * font-size) tall, then
 *    there is 1em of space above and below that text. We therefore apply 1em
 *    of space to the left and right, as padding, to keep consistent spacing.
 * 8. Basic cosmetics for default buttons. Change or override at will.
 * 9. Don’t allow buttons to have underlines; it kinda ruins the illusion.
 */
.btn{
    display:inline-block;       	/* [1] */
    vertical-align:middle;      	/* [2] */
    white-space:nowrap;         	/* [3] */
    font-family:inherit;        	/* [4] */
    font-size:100%;             	/* [4] */
    cursor:pointer;             	/* [5] */
    border:none;                	/* [6] */
    margin:0;                   	/* [6] */
    padding-top:   0;           	/* [6] */
    padding-bottom:0;           	/* [6] */
    line-height:3;              	/* [7] */
    padding-right:1em;          	/* [7] */
    padding-left: 1em;          	/* [7] */
    @include border-radius(0px);	/* [8] */
}

.btn{

    position: relative;
    color:$secondaryColor;

    &,
    &:hover{
        text-decoration:none;   /* [9] */
        color:$secondaryColor;
        @include transition(all 0.5s $easeInOut);
    }

    &:active,
    &:focus{
        outline:none;
    }


    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      @include transition(0.3s $easeInOut all);
    }

}





/*------------------------------------*\
    $SIZES
\*------------------------------------*/
/**
 * Button size modifiers.
 *
 * These all follow the same sizing rules as above; text is 1em, space around it
 * remains uniform.
 */
.btn--small{
    padding-right:3.5em;
    padding-left: 3.5em;
    @include font-size($h2-size);
}

.btn--large{
    padding-right:4.5em;
    padding-left: 4.5em;
    @include font-size($h4-size);
}

.btn--huge{
    padding-right:5em;
    padding-left: 5em;
    @include font-size($h5-size);
}

/**
 * These buttons will fill the entirety of their container.
 *
 * 1. Remove padding so that widths and paddings don’t conflict.
 */
.btn--full{
    width:100%;
    padding-right:0;            /* [1] */
    padding-left: 0;            /* [1] */
    text-align:center;
}






/*------------------------------------*\
    $FUNCTIONS
\*------------------------------------*/
/**
 * Button function modifiers.
 */

.btn--primary,
.btn--secondary {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 3;
    @include border-radius(5px); 
}


.btn--tertiary{
	line-height: 1;
}




/**
 * Positive actions; e.g. sign in, purchase, submit, etc.
 */
.btn--positive{
    background-color:#4A993E;
    color:#fff;
}

/**
 * Negative actions; e.g. close account, delete photo, remove friend, etc.
 */
.btn--negative{
    background-color:#b33630;
    color:#fff;
}

/**
 * Inactive, disabled buttons.
 * 
 * 1. Make the button look like normal text when hovered.
 */
.btn--inactive,
    .btn--inactive:hover,
    .btn--inactive:active,
    .btn--inactive:focus{
        background-color:#ddd;
        color:#777;
        cursor:text;            /* [1] */
    }





/*------------------------------------*\
    $STYLES
\*------------------------------------*/
/**
 * Button style modifiers.
 *
 * 1. Use an overly-large number to ensure completely rounded, pill-like ends.
 */
.btn--soft{
    border-radius:200px;        /* [1] */
}

.btn--hard{
    border-radius:0;
}
  
